################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/out/build/debug
/.vs
/CMakePresets.json
/CMakeUserPresets.json
/out/build/release
/out/build/release
/out/build
/out/build/release.zip
/out/build/MainQt_0407.zip
/out/build/MainQt_0325.zip
/out/build/MainQt_0323.zip
/out/build/MainQt_0322.zip
